body {
  font-family: 'PT Serif', serif;
  font-size: 19px;
}

.navbar-custom {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  padding-top: 15px;
}

.navbar-custom a{
  color: #000000 !important;
  font-size: 22px;
}

.navbar-custom a:hover {
  color: #d87008 !important;
}

.navbar-custom a:focus, .navbar-nav>.open>a {
  background-color: #ffffff !important;
}

.dropdown-menu {
  margin-top: 20px !important;
}

.background-cover {
  left: 0;
  right: 0;
  height: 700px;
  position: absolute;
  background-image: url("../images/IMG_166593.jpg");
  background-position: center center;
	background-repeat:  no-repeat;
	background-size: cover;
}

.intro {
  margin-top: 70%;
  height: 500px;
  text-align: center;
}

.intro-pic {
  padding-top: 35px;
}

.footer {
  left: 0;
  right: 0;
  margin-top: 10%;
  position: absolute;
  height: 150px;
  background-color: #edeaea;
  text-align: center;
}

.footer a {
  color: #d87008;
  margin: 2px;
}

.footer a:hover {
  color: #30627e;
}

.footer .copy {
    font-size: 16px;
    margin-top: 20px;
}

@media (max-width: 480px) {
    /* For mobile phones: */
    body{
      font-size: 14px;
    }
    .background-cover {
      height: 200px;
    }
    .intro{
      margin-top: 75%;
    }
    .intro-pic-item {
      margin-top: 20px;
    }
    .footer {
      margin-top: 60em;
      height: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body{
      font-size: 17px;
    }
    .background-cover {
      height: 300px;
    }
    .intro{
      margin-top: 50%;
    }
    .intro-pic-item {
      margin-top: 20px;
    }
    .footer {
      margin-top: 160%;
      height: 100px;
  }
}
